version: 2.1

setup: << pipeline.parameters.run-setup >>

orbs:
  android: circleci/android@0.2.3

parameters:
  app:
    type: boolean
    default: false
  api:
    type: boolean
    default: false
  auth:
    type: boolean
    default: false
  unit:
    type: boolean
    default: false

commands:
  setup-bazel:
    description: |
      Setup the Bazel build system used for building Android projects
    parameters:
      bazel-version:
        type: string
        default: "bazel"
    steps:
      - run:
          name: Add Bazel Apt repository
          command: |
            sudo apt install curl gnupg
            curl -fsSL https://bazel.build/bazel-release.pub.gpg | gpg --dearmor > bazel.gpg
            sudo mv bazel.gpg /etc/apt/trusted.gpg.d/
            echo "deb [arch=amd64] https://storage.googleapis.com/bazel-apt stable jdk1.8" | sudo tee /etc/apt/sources.list.d/bazel.list
      - run:
          name: Install Bazel from Apt
          command: | 
            sudo apt update && sudo apt install << parameters.bazel-version >>

jobs:
  app-build:
      parameters:
        bazel-version:
          description: "Pinned Bazel version Replace with your one"
          default: "bazel-3.7.2"
          type: string
      docker:
        - image: circleci/android:api-30
      parallelism: 8
      steps:
        - checkout
        - android/accept-licenses
        - setup-bazel:
            bazel-version: <<parameters.bazel-version>>
        - run:
            name: Run tests
            command: << parameters.bazel-version >> test //packages/app/src:unit_tests # Depending on your Bazel package and target
        - run:
            name: Run build
            command: << parameters.bazel-version >> build //packages/app/src:app # Depending on your Bazel package and target
        - store_test_results:
            path: ~/project/bazel-testlogs/app/src/unit_tests
        - store_artifacts:
            path: ~/project/bazel-testlogs/app/src/unit_tests
        - store_artifacts:
            path: ~/project/bazel-bin/app/src/app.apk
        - store_artifacts:
            path: ~/project/bazel-bin/app/src/app_unsigned.apk
        - store_artifacts:
            path: .circleci/pipeline.yml
            destination: yaml/pipeline.yml
  api-build:
    docker:
      - image: cimg/base:2021.01
    steps:
      - run:
          name: echo Hello
          command: |
            echo "This is the API project"
  auth-build:
    docker:
      - image: cimg/base:2021.01
    steps:
      - run:
          name: echo Hello
          command: |
            echo "This is the auth project"
  unit-tests:
    docker:
      - image: cimg/base:2021.01
    steps:
      - run:
          name: echo Hello
          command: |
            echo "This is the unit test"
workflows:
  app:
    when: << pipeline.parameters.app >>
    jobs:
      - app-build
  api:
    when: << pipeline.parameters.api >>
    jobs:
      - api-build
  auth:
    when: << pipeline.parameters.auth >>
    jobs:
      - auth-build
  unit:
    when: << pipeline.parameters.unit >>
    jobs:
      - auth-build